name: Checkout, Build, Test, and Push to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/redis:latest
           
        - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/mysql:latest
           
        - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/nginx:latest

      - name: Run Docker container
        run: |
          docker run -d -p 5000:5000 --name redis-container ${{ secrets.DOCKER_USERNAME }}/redis:latest

      - name: Run Docker container
        run: |
          docker run -d -p 6000:6000 --name mysql-container ${{ secrets.DOCKER_USERNAME }}/mysql:latest

      - name: Run Docker container
        run: |
          docker run -d -p 7000:7000 --name nginx-container ${{ secrets.DOCKER_USERNAME }}/nginx:latest

      - name: Test the container
        run: |
          sleep 10 
          curl --fail http://localhost:5000/api/doc || (echo "Container test failed!" && exit 1)

     
